.footer{
    width: 100%;
    height: 50px;
    color: #FAF3D9;
    font-weight: bold;
    font-size: 1rem;
    display: flex;
    align-items: left;
    justify-content: space-around;
    bottom: 0;
    text-align: center;
    margin-top: 50px;
}

p{
    margin-top: 8px;
}



